* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: white;
}

li {
  list-style: none;
}

#p5-container {
  width: 100%;
  height: 100vh;
}

#p5-audio-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

#hud-left {
  display: inline-block;
  color: white;
}

#hud-right {
  display: inline-block;
  color: #9c9c9c;
}

.controls {
  margin-top: 15px;
}

.transport-control {
  border: none;
  font-family: monospace;
  color: white;
  padding: 9px;
  background-color: #0c0c0c;
}

.transport-control:hover {
  cursor: pointer;
  background-color: #1c1c1c;
}

.instructions-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.instructions {
  color: #9c9c9c;
  margin-bottom: 3px;
}

.instruction-heading {
  color: white;
}

@media (max-width: 880px) {
  .instructions-container {
    top: 200px;
    left: 0;
  }
}

@media (max-width: 540px) {
  #hud {
    padding: 5px;
  }

  .instructions-container {
    top: 138px;
    top: auto;
    bottom: 0;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  #hud,
  .instructions-container {
    font-size: calc(5px + 0.9vw);
  }
}
